
<div class="container">
  <div class="logo">
    
 </div>
 <div class="logo-text">
  <strong lang="mr" class="site_name_marathi">सातारा जिल्हा</strong><br>
  <span class="site_name_english">SATARA DISTRICT</span>
 </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="position:70px;top: 70px;">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ABOUT DISTRICT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DIRECTORY
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">ACTION</a></li>
              <li><a class="dropdown-item" href="#">DEPARTMENTS</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">CITIZEN SERVICES</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">TOURISM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">DEPARTMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">CITIZEN SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">NOTICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">DOCUMENTS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
