<nav class="navbar navbar-expand-sm bg-primary navbar-dark custom-sticky-nav">
     <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="users" routerLinkActive="active" class="nav-link">User List</a>
        </li>
        <li class="nav-item">
            <a routerLink="Add_User" class="nav-link">Add_User</a>
        </li>
    </ul>
</nav>
<!-- <app-signup></app-signup> -->
<div class="container">
    <h1 style="text-align: center;">Angular Frontend</h1>
    <router-outlet></router-outlet>
    
    <footer class="bg-primary text-center text-white fixed-bottom" style="height: 45px;">
        <div class="container" style="margin-top: 13px;">
            <span>All rights reserved &copy; 2023</span>
        </div>
    </footer>
</div>

<!-- <app-footer></app-footer> -->
